.favorites-card-wrapper {
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;

    @media (max-width: 768px) {
        margin-bottom: 50vh;
    }
}