<header class="header">
  <mat-icon>query_stats</mat-icon>
  <div class="brand">StockLens</div>
</header>
<div class="home-container">
  <div class="search">
    <app-search
      [isMobile]="true"
      [drawerOpen]="this.drawerOpen"
      (optionSelected)="goToDetails($event)"
    ></app-search>
  </div>
  <div class="favorites">
    <app-favorites
      *ngIf="!isMobile"
      [ngClass]="{ 'favorites-desktop': !isMobile }"
      (directToDetails)="goToDetails($event)"
    ></app-favorites>
  </div>
</div>

<div *ngIf="isMobile" class="favorites-drawer" [class.open]="drawerOpen">
  <div class="drawer-header" (click)="toggleDrawer()">
    <span class="drawer-title">
      Favorites
      <span class="drawer-sublabel"
        >(Click to {{ drawerOpen ? "Collapse" : "Expand" }})</span
      >
    </span>
    <mat-icon>{{ drawerOpen ? "expand_more" : "expand_less" }}</mat-icon>
  </div>

  <div class="drawer-body" *ngIf="drawerOpen">
    <app-favorites
      [isMobile]="true"
      (directToDetails)="goToDetails($event)"
    ></app-favorites>
  </div>
</div>
